[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
dotenv = "*"
faiss-cpu = "*"
sentence-transformers = "*"
einops = "*" # required for nomic-ai model
nomic = {extras = ["local"], version = "*"}
numpy = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.13"
